node_modules/
dist/
dist-ssr/
*.local

# 编辑器
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 日志
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 构建产物最终会拷进 beibei-server/src/main/resources/static/
# 那里已单独 ignore，这里不再重复
